.footer{
    padding-bottom: 13px;
    padding-top: 13px;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    background-color: #273f50;
    font-family: 'Verdana', serif;
    letter-spacing: 0em;
    display: flex;
}

@media screen and (max-width: 1200px){
    .footer{
        font-size: 12px;
    }
}
/* 768-992 */
@media screen and (max-width: 992px){
    .footer{
        font-size: 13px;
        line-height: 17px;
    }
}
