h3{
    font-size: 24px;
    letter-spacing: 0.1em;
    font-family: 'Exo 2 Semi Bold', serif;
    padding-right: 12px;
    color: #f7f8fa;
}

.yellow{
    color: #fddc15;
}

section{
    background: url("../../assets/img/order_page/back.jpg") no-repeat center top /cover;
    padding-bottom: 150px;
}

.head{
    padding: 40px 0 40px;
    background-color: rgba(7, 11, 23, 0.18);
    margin-bottom: 105px;
    color: #f7f3f3;
}

.panel{
    background-color: transparent;
    border: 1px solid #fddb17;
    
}

.order__header{
    padding-bottom: 30px;
}

.order-status{
    margin: auto;
}

.order-info{
    padding: 50px 0 55px;
    width: 37%;
    margin: auto;
    color: #f7f8fa;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 38px;
    font-family: 'Exo 2 Semi Bold', serif;
}

.order-buttons{
    margin-top: 25px;
}

.order__row{
    padding-bottom: 10px;
}

button{
    width: 198px;
    font-size: 16px;
    font-family: 'Exo 2 Bold', serif;
    text-align: center;
    border-radius: 5px;
    padding: 0px;
}

.order-cancel{
    border: 2px solid #fefefd;
    margin-right: 30px;
    background-color: transparent;
    color: #fefefd;
}

.order-cancel:hover{
    transition:all 0.5s;
    color: #fff;
    background: #91232d;
}

.order-pay{
    background-color: #91232d;
    color: #fff;
    border:none;
}

.order-pay:hover{
    box-shadow:inset 0px 0px 10px 0px rgba(239,242,244,1);
    transition:all 0.5s;
}