<section>
  <div class="container">
    <div class="panel">
      <div class="header">
          <h3>Общая информация</h3>
      </div>
      <div class=order>
        <div class="row">
          <div class="col-lg-4 d-flex">
            <img class="order-status" src="../../assets/img/order_page/pay-waiting.png" alt="Ожидает оплаты">
          </div>
        </div>
        <div class="order-info">
          <h2>Информация о заказе</h2>
          <div class="row">
            <div class="col-lg-5">
              Номер заказа:
            </div>
            <div class="col-lg-3">
              14882
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              Количество монет:
            </div>
            <div class="col-lg-3">
              30 000
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              Сумма к оплате:
            </div>
            <div class="col-lg-3">
              2300 р
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              Дата создания:
            </div>
            <div class="col-lg-3">
              23.10.2019
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              E-mail:
            </div>
            <div class="col-lg-3">
              vgladchenko@gmail.com
            </div>
          </div>
          <div class="order-buttons d-flex">
            <button class="order-cancel">
              Отменить заказ
            </button>
            <button class="order-pay">
              Оплатить
            </button>
          </div>
        </div>

      </div>
      

    </div>
  </div>   
</section>
