/* Specification */

.nav{
    background-color: #273f50;
    height:66px;
    padding-top: 16px;
    position: relative;
    color: #fff;
}


.blocks-links__item{
    color: #fff;
    padding-right: 30px;
    font-style: normal;
}

.blocks-links__item:hover{
    color: #fddb17;
    transition:all 1s;
    text-decoration:none;
}

.blocks-links__item:active{
   text-decoration: underline;
}

.blocks-links__item-yellow:hover{
    color: #fff;
}

.autorization{
    padding-right: 20px;
}
.autorization__item{
    font-style: normal;
    color: #fff;
    position: relative;
}

.autorization__item_entrance{
    padding-right: 100px;
}

.autorization__item_entrance:before{
    content: url("../../assets/img/entrance.png");
    display: block;
    margin-right: 14px;
    left: -30px;
    top: 5px;
    position: absolute;
}
.autorization__item-registration:before{
    content: url("../../assets/img/registration.png");
    display: block;
    margin-right: 14px;
    left: -35px;
    top: 4px;
    position: absolute;
}

.autorization__item:hover{
    color: #fddb17!important;
    transition:all 1s;
    text-decoration:none;
}


/* ----------------------------------LOGined----------------------------- */

.autorization-loged{
    justify-content: space-around;
    width: 100%;
}
.autorization__item-loged{
    font-style: normal;
    color: #fff;
}

.autorization__item_bonus{
    padding: 0 5px 0 5px;
}

.autorization__item_bonus:hover{
    background-color: #526573;
}

.autorization__item_bonus:before{
    content: url("../../assets/img/nav-gift.png");
    display: block;
    margin-right: 10px;
    margin-top: 3px;
}

.autorization__item-email{
    letter-spacing: 0;
}
.autorization__item-email:after{
    content: url("../../assets/img/nav-arrow.png");
    display: block;
    margin-right: 14px;
    padding-left: 10px;
}

.autorization__item-loged:hover{
    transition:all 1s;
    text-decoration:none;
}
/*------------------------------------- ADNIM PANEL--------------------------------- */

.admin-nav__element{
    color:#fddc15;
}
.admin-nav__element:hover{
    color: #fff;
}

input{
    display: none;
}

.welcome_s{
    display: none;
}


/* -------------------------------------MEDIA SCREENS-------------------------------------------  */


@media screen and (max-width: 767px){
.d-flex{
    display: block!important;
}
.welcome_s{
    display: table-row;
    color: #fff;
}
#menuToggle
{
  display: block;
  position: absolute;
  top: 21px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  border-radius: 3%;
  position: absolute;
  width: 395px;
  height: 900px;
  margin: -100px 0 0 0;
  padding: 30px;
  padding-top: 125px;
  right: -80px;
  background: rgba(39, 63, 80, 0.85);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  overflow:hidden;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */


#menuToggle input:checked ~ #menu
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}


a{
    padding: 0 0 10px 10px!important;
    border-bottom: 1px solid #fff;
    width: 290px!important;
    display: block;
}

.autorization__item_entrance::before{
    left: 82px;
}
.autorization__item-registration::before{
    left: 176px;
}

.autorization__item-email:after{
    display: none;
}

.autorization__item_bonus{
    display: flex!important;
}

}

@media screen and (max-width: 576px){
    .welcome_s{
        letter-spacing: 0.04em;
    }

    #menuToggle{
        right: 18px;
    }
}