<div class="nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <ul class="blocks-links d-flex">
              <li>
                <a href="#advanteges" class="blocks-links__item ">Преимущества</a>
              </li>
              <li>
                <a href="#buying" class="blocks-links__item">Купить монеты</a>
              </li>
              <li>
                <a href="#opinions" class="blocks-links__item ">Отзывы</a>
              </li>
          </ul>
        </div>
  
        <div class="col-lg-5 d-flex ml-auto">
            <div class="autorization d-flex">
              <li>
                  <a   class="autorization__item autorization__item_bonus d-flex">Бонусы</a>
              </li>
  
              <li>
                  <a  class="autorization__item autorization__item-email d-flex ">test@gmail.com</a>
              </li>
                
             
        </div>
      </div>
    </div>
  </div>