/* Specification */
.nav{
    background-color: #273f50;
    height:66px;
    padding-top: 16px;
    position: relative;
    color: #fff;
}


.blocks-links{
    
}

.blocks-links__item{
    color: #fff;
    padding-right: 30px;
    font-style: normal;
}

.blocks-links__item:hover{
    color: #fddb17;
    transition:all 1s;
    text-decoration:none;
}

.blocks-links__item:active{
   text-decoration: underline;
}

.blocks-links__item-yellow:hover{
    color: #fff;
}

.autorization{
    justify-content: space-around;
    width: 100%;
}
.autorization__item{
    font-style: normal;
    color: #fff;
}

.autorization__item_bonus{
    padding: 0 5px 0 5px;
}

.autorization__item_bonus:hover{
    background-color: #526573;
}

.autorization__item_bonus:before{
    content: url("../../assets/img/nav-gift.png");
    display: block;
    margin-right: 10px;
    margin-top: 3px;
}
.autorization__item-email:after{
    content: url("../../assets/img/nav-arrow.png");
    display: block;
    margin-right: 14px;
    padding-left: 10px;
}

.autorization__item:hover{
    transition:all 1s;
    text-decoration:none;
}



