<section class="bonus-info">
    <div class="head">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div class="head__header">
              <h3>Бонусы</h3>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="head__text">
              <p class="head__text-first">За каждый заказ вы получаете бонус в размере <span>10%</span>.</p>
               <p> После <span>5 заказов</span>  бонус активируеться и автоматически начислиться на следующий заказ.
              </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <div class="container">
      <div class="bonus-status">
        <div class="row">
          <div class="col-lg-4">
            <img id="bonus-status__coin"  src="../../assets/img/bonus_page/1coin.png" alt="Coin">
          </div>
          <div class="col-lg-8">
            <div class="bonus-status__data_wrapp">
              <div class="bonus-status__data">
                  <div class="bonus-status__orders d-flex">
                    Заказы:
                    <span id="bonus-status__current-order">1</span>
                    <span>/5</span>
                  </div>
                  <div class="bonus-status__quantity d-flex">
                    <h2>Бонус:</h2>
                    <span id="bonus-status__current-coins">
                      50000
                    </span>
                    coins
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="history">
  <div class="container">
    <h3>История заказов</h3>

    <table id="history__orders">
      <tr>
        <th>Дата</th>
        <th>Номер заказа</th>
        <th>Сума в Р</th>
        <th>Количество монет</th>
      </tr>
      <tr>
        <td>27.10.2019</td>
        <td>179218</td>
        <td>1400</td>
        <td>15000</td>
      </tr>
      <tr>
        <td>27.10.2019</td>
        <td>179218</td>
        <td>1400</td>
        <td>15000</td>
      </tr>
      <tr>
        <td>27.10.2019</td>
        <td>179218</td>
        <td>1400</td>
        <td>15000</td>
      </tr>
      <tr>
        <td>27.10.2019</td>
        <td>179218</td>
        <td>1400</td>
        <td>15000</td>
      </tr>
      <tr>
        <td>27.10.2019</td>
        <td>179218</td>
        <td>1400</td>
        <td>15000</td>
      </tr>

    </table>

    <div class="page-btns d-flex">
      <a href="#" class="page-btn"><</a>
      <a href="#" class="page-btn page-btn_active">1</a>
      <a href="#" class="page-btn">2</a>
      <a href="#" class="page-btn">3</a>
      <a href="#" class="page-btn">4</a>
      <a href="#" class="page-btn">5</a>
      <a href="#" class="page-btn">6</a>
      <a href="#" class="page-btn">7</a>
      <a href="#" class="page-btn">></a>

    </div>

  </div>
</section>
